/* Estilo general para la página */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../resource/inicial.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 46px;
    color: #FFD700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4), 0 0 10px #FF4500;
    letter-spacing: 2px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

h1:hover {
    transform: scale(1.2);
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6), 0 0 20px #FFD700;
    color: #FF4500;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    color: #FFD700;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4), 0 0 10px #FF4500;
    margin-bottom: 10px;
}

small {
    font-size: 1.2rem;
    color: white;
    display: block;
    margin-top: 5px;
}

p {
    font-size: 20px;
    color: #00796b;
}

#juegos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    gap: 20px;
}

.juego {
    background-color: transparent;
    padding: 25px;
    border-radius: 15px;
    width: 47%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.juego:hover {
    transform: translateY(-10px);
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: #FF9800;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #ff5722;
}

#piedraPapelTijera img, #mokepon img {
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

#piedraPapelTijera img:hover, #mokepon img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border-color: #FF6347;
}

footer {
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
    padding: 40px;
}

footer p {
    margin: 0;
    color: white;
    padding: 8px;
}

.imagen-juego {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #FFD700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    margin-right: 20px;
}

.imagen-juego:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
    border-color: #FF6347;
}

/* Media Queries para hacer la página responsiva */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        font-size: 16px;
    }
    #juegos {
        flex-direction: column; /* Cambia la dirección del flex a columna */
        align-items: center; /* Centra los elementos */
    }

    .juego {
        width: 80%; /* Los bloques de juego ocuparán más espacio en móviles */
        margin-bottom: 20px; /* Añade un espacio entre los bloques */
    }

    button {
        font-size: 16px; /* Ajusta el tamaño del botón */
        padding: 10px 20px;
    }

    #piedraPapelTijera img, #mokepon img {
        width: 100px; /* Ajusta el tamaño de las imágenes */
        height: 100px;
    }

    footer {
        font-size: 12px;
    }

    .imagen-juego {
        width: 100px;  /* Ajuste en imágenes */
        height: 100px;
    }
}

/* Media Queries para pantallas pequeñas */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 1.5em;
    }
    small {
        font-size: 1.05rem;
    }

    p {
        font-size: 12px;
    }

    #juegos {
        flex-direction: column; /* Los bloques de juego estarán en columna */
    }

    .juego {
        width: 70%; /* Los bloques de juego ocuparán el 90% del ancho */
    }

    button {
        font-size: 18px; /* Botones más pequeños */
        padding: 8px 15px;
    }

    #piedraPapelTijera img, #mokepon img {
        width: 80px; /* Imágenes más pequeñas */
        height: 80px;
    }

    footer {
        font-size: 10px;
        padding: 20px;
    }

    .imagen-juego {
        width: 80px; /* Ajuste de imagen */
        height: 80px;
    }
}
